@import "header";
@import "degradados";


header {
    nav {
        background-color: $color-nav;
    }

    .nav-item {
        padding: 15px;
        margin: 0%;
    }

    a {
        color: white !important;
    }

    a:hover {
        background-color: $color-hoover;
        border-radius: 15px;
    }
}