header nav {
  background-color: black; }

header .nav-item {
  padding: 15px;
  margin: 0%; }

header a {
  color: white !important; }

header a:hover {
  background-color: #00c3ff;
  border-radius: 15px; }

.mask-custom {
  backdrop-filter: blur(10px);
  background-color: rgba(178, 60, 253, 0.25); }
